<ion-view>

    <ion-header-bar class="bar bar-header bar-dark">
        <div class="h1 title">Dashboard</div>
        <button class="button button-icon" ng-click="logout()">Logout</button>
    </ion-header-bar>

    <ion-content class="padding fabric-background">
        <button class="button button-block button-positive" ng-click="viewDailySchedule()">Day</button>
        <button class="button button-block button-calm" ng-click="viewWeeklySchedule()">Week</button>
        <button class="button button-block button-balanced" ng-click="viewMonthlySchedule()">Month</button>
    </ion-content>

</ion-view>
