<ion-view>

    <ion-header-bar class="bar bar-header bar-dark">
        <button class="button button-icon" ng-click="logout()">Logout</button>
        <div class="h1 title">Dashboard</div>
        <button class="button button-icon ion-plus" ng-click="openPopover($event)">New Event</button>
    </ion-header-bar>

    <ion-content class="padding fabric-background">
        <div class="row">
            <button class="button button-block button-positive" ng-click="viewDailySchedule()">
                Day
            </button>
        </div>

        <div class="row">
            <button class="button button-block button-calm" ng-click="viewWeeklySchedule()">
                Week
            </button>
        </div>

        <div class="row">
            <button class="button button-block button-balanced" ng-click="viewMonthlySchedule()">
                Month
            </button>
        </div>
    </ion-content>

</ion-view>
