<ion-view>

    <ion-header-bar class="bar bar-header bar-dark">
        <button class="button button-icon icon-left ion-chevron-left" ng-click="toDash()">Back</button>
        <div class="h1 title">Today's Schedule</div>
        <button class="button button-icon icon-left ion-minus" ng-click="toggleDelete()"></button>
    </ion-header-bar>

    <ion-content class="padding paper">
    {{updateEvents()}}

        <ion-list show-delete="shouldShowDelete">

            <div class="padding-left padding-right" ng-repeat="event in events">
                <div class="card enable-pointer-events"
                      ng-click="console.log('clicked')" href="#/dash">
                      <div class="item item-divider">
                          {{event.Name}} at
                          <standard-time-meridian etime="event.StartTime"></standard-time-meridian> 
                      </div>
                      <div class="item item-text-wrap" ng-click="onItemClicked()">
                          {{event.Description}} 
                      </div>
                </div> 

            </div>

        </ion-list>

    </ion-content>

</ion-view>
