<ion-view> 
    <ion-content class="padding">
        <h1 align="center" class="centered-upper">Timen'</h1>


        <div class="list centered">
            <label class="item item-input item-floating-label">
                <i class="icon ion-ios-email-outline placeholder-icon"></i> 
                <span class="input-label">Email Address</span>
                <input type="text" placeholder="Email Address" ng-model="data.email">
            </label>

            <label class="item item-input item-floating-label">
                <i class="icon ion-locked placeholder-icon"></i> 
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="data.password">  
            </label>
        </div>


        <div class="centered-lower">
            <button class="button button-positive button-block" ng-click="login(data)"> 
                Submit
            </button>

            <button class="button button-energized button-block" ng-click="viewAccountCreationPage()"> 
                Create Account
            </button>
        </div>
    </ion-content>
</ion-view>
